/* Space out content a bit */
@import "colors";
@divisor: 20px;
@font-default: 'Roboto Condensed', sans-serif;

html, body {
  margin: 0;
  padding: 0;
  background: @grey;
  width: 100%;
  font-family: @font-default;
}

*, a, h1 {
  font-family: @font-default;
}

h1.title {
  margin: 0;
  padding: @divisor;
  background: @grey-light;
  border-bottom: solid 1px lighten(@grey-light, 10%);

  a {
    text-decoration: none;
    color: @light;
    &:hover{
      color: @white;
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.about {
  padding: 0 @divisor;
  color: @light-grey;
}

img, figure {
  border: none;
  outline: none;
  display:block;
  padding: 0;
  margin: 0;
}

@import "error";
@import "navigation";
@import "responsive";
@import "gallery";
@import "photo";
