/* Space out content a bit */
@import "colors";
@divisor: 20px;
@font-default: 'Roboto Condensed', sans-serif;

html, body {
  margin: 0;  padding: 0;
  background: @grey;
  width: 100%; height:100%;
  font-family: @font-default;
}

.container {
  height:100%;
  position:relative;

  &.default {
    footer {
      position: absolute;
      bottom: 0;
      left: 0; right: 0;
    }
  }
  &.flexed {
    .content {
      position:absolute;
      bottom:0;
      top: @divisor * 4; /*must match the height of #header*/
      overflow:auto;
    }
  }
}

*, a, h1 {
  font-family: @font-default;
}

header.main {
  position: relative;
  width: 100%;
  z-index: 10;

  padding: @divisor;
  background: @grey-light;
  border-bottom: solid 1px lighten(@grey-light, 10%);
  box-sizing: border-box;

  h1, h2 {
    margin: 0;
    color: @accent;
    font-weight: 300;

    .version {
      color: @light;
      font-size: small;
    }
  }

  a {
    text-decoration: none;
    font-weight: 300;
    color: @light;
    &:hover{
      color: @white;
    }
  }

  .lang {
    position: absolute;
    right: @divisor;
    top: @divisor;

    a {
      margin: @divisor / 4;
      font-size: medium;
      font-weight: normal;
      color: @light-grey;
      cursor: pointer;
      transition: color 0.2s ease-out;

      &.selected {
        color: white;
      }
      &:hover {
        color: @accent;
      }
    }
  }
}

.content {
  padding: @divisor / 2 @divisor;
  color: @light-grey;
  width:100%;
  box-sizing: border-box;
  &.nav {
    padding-top: (@divisor * 2) + (@divisor / 2);
  }
  section {
    h2 {
      margin: 0 0 @divisor / 2 0;
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

img, figure {
  border: none;
  outline: none;
  display:block;
  padding: 0;
  margin: 0;
}

.static {
  color: @grey-light;
}

footer {
  //position: absolute;
  //bottom: 0;
  //height: 100px;
  text-align: center;
  color: @light-grey;

  a {
    color: @white;
    &:visited {
      color: @white;
    }

    &:hover {
      color: @accent;
    }
  }
}

section.galleries {
  h2 {
    color: @light;
    font-weight: 400;
  }

  ul {
    list-style: none;
    margin: 0; padding: 0;

    li {
      padding: @divisor / 4;

      figure {
        float: left;
        display: block;
        outline: 2px solid rgba(0, 0, 0, 0);
        cursor: pointer;
        transition: outline-color 0.2s ease-out;
        position: relative;

        figcaption {
          width: 100%;
          color: @light;
          padding: @divisor / 4;
          position: absolute;
          bottom: 0;
          left: 0;
          background: fade(@grey, 50%);
          box-sizing: border-box;
        }
        &:hover {
          outline-color: @accent;
        }
      }
      aside {
        margin-left: 350px;
        padding: 0 @divisor / 2;
        color: @light-grey;

        a {
          color: @light-grey;
          text-decoration: none;
          transition: color 0.2s ease-out;

          &:hover {
            color: @accent;
          }
        }
      }
    }
  }
}

.login {
  width: 400px;
  height: auto;
  margin: 20% auto;
  position: relative;
  background: @grey-light;
  padding: @divisor;
  overflow: hidden;

  form {
    box-sizing: content-box;
    width: 100%;
    overflow: hidden;

    input, button {
      box-sizing: content-box;
      padding: 4px;
      margin-bottom: @divisor / 2;
    }

    input {
      width: 100%;

      &.ng-invalid {
        border: 1px solid red;
      }
    }
  }
}

@import "error";
@import "navigation";
@import "responsive";
@import "gallery";
@import "photo";
@import "admin";
