/* Space out content a bit */
@import "colors";
@divisor: 20px;
@font-default: 'Roboto Condensed', sans-serif;

html, body {
  margin: 0;
  padding: 0;
  background: @grey;
  width: 100%;
  font-family: @font-default;
}

*, a, h1 {
  font-family: @font-default;
}

h1.title {
  margin: 0;
  padding: @divisor;
  background: @grey-light;
  border-bottom: solid 1px lighten(@grey-light, 10%);

  a {
    text-decoration: none;
    color: @light;
    &:hover{
      color: @white;
    }
  }
}

header.main {
  position: fixed;
  width: 100%;
  z-index: 10;
  //margin-top: -100px;
}
.content {
  padding-top: @divisor * 6;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.about {
  padding: 0 @divisor;
  color: @light-grey;
}

img, figure {
  border: none;
  outline: none;
  display:block;
  padding: 0;
  margin: 0;
}

.static {
  color: @grey-light;
}

footer {
  text-align: center;
  color: @light-grey;

  a {
    color: @white;
    &:visited {
      color: @white;
    }

    &:hover {
      color: @accent;
    }
  }
}

.admin {
  width: 400px;
  height: auto;
  margin: 20% auto;
  position: relative;
  background: @grey-light;
  padding: @divisor;
  overflow: hidden;

  form {
    box-sizing: content-box;
    width: 100%;
    overflow: hidden;

    input, button {
      box-sizing: content-box;
      padding: 4px;
      margin-bottom: @divisor / 2;
    }

    input {
      width: 100%;

      &.ng-invalid {
        border: 1px solid red;
      }
    }
  }
}

@import "error";
@import "navigation";
@import "responsive";
@import "gallery";
@import "photo";
