#masonry {
  .masonry-brick {
    display: block;
    outline: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: outline-color 0.2s ease-out;

    &:hover {
      outline-color: @accent;
    }
  }
}
