nav.top {
  color: gray;
}
nav.top ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.top ul li{
  margin: 0.2em 0.4em;
  display: inline-block;
  cursor: pointer;
}
nav.top ul li.active{
  color: white;
}
