.mfp-container {
  padding: 0 @divisor;
}

.mfp-preloader {
  background: url("/preloader.gif") top center no-repeat;
  margin-top: -64px;
  padding-top: 128px;
}

.mfp-content {
  position: relative;
  //padding: 20px;
  overflow: hidden;

  .mfp-figure {
    //position: relative;
  }

  .mfp-zoom {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .mfp-tools {
    position: absolute;
    height: 44px;
    line-height: 44px;
    top: 0;
    right: 0;
    text-align: right;
    width: 100%;

    button.mfp-btn {
      color: @light-grey;
      font-size: 14px;
      display: inline-block;
      position: relative;
      width: auto;
      right: 0;
      overflow: hidden;
      cursor: pointer;
      background: transparent;
      border: 0;
      -webkit-appearance: none;
      -webkit-box-shadow: none;
      outline: none;
      padding: 0;
      z-index: 1046;
      box-shadow: none;
      margin-left: @divisor / 2;

      i {
        padding: 2px;
        margin-left: @divisor / 4;
      }

      &:hover {
        color: @white;
      }
    }
  }
}
img.mfp-img {
  padding-bottom: 68px;
}
.mfp-figure:after {
  bottom: 68px;
}
.mfp-bottom-bar {
  margin-top: -60px;
  bottom: 0;
}
.mfp-title {
  padding-right: 60px;
}

.mfp-title, .mfp-counter {
  font-size: 10pt;
  color: darken(@light-grey, 20%);
  font-family: @font-default;

  .caption {
    font-size: 14pt;
    display: block;
    float: none;
    color: @white;
  }
  .author {
    color: @light-grey;
  }
}

.mfp-zoom-in {
  /* start state */
  .mfp-figure {
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: scale(0.9);
  }

  &.mfp-bg,
  .mfp-preloader {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-image-loaded {
    .mfp-figure {
      opacity: 1;
      transform: scale(1);
    }
  }

  &.mfp-ready {
    &.mfp-bg,
    .mfp-preloader{
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .mfp-figure {
      transform: scale(0.9);
      opacity: 0;
    }
    &.mfp-bg,
    .mfp-preloader{
      opacity: 0;
    }
  }
}
