.mfp-container {
  padding: 0 @divisor;
}

.mfp-content {
  position: relative;
  //padding: 20px;
  overflow: hidden;

  .mfp-figure {
    //position: relative;
  }

  .mfp-zoom {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .mfp-tools {
    position: absolute;
    height: 44px;
    line-height: 44px;
    top: 0;
    right: 0;
    text-align: right;
    width: 100%;

    i.fa {
      font-size: 18px;
      color: @light-grey;
      position: relative;
      width: auto;
      &:hover {
        color: @white;
      }
      &.fa-times {
        font-size: 21px;
      }
    }

    button.mfp-btn {
      display: inline-block;
      position: relative;
      width: auto;
      right: 0;
      overflow: hidden;
      cursor: pointer;
      background: transparent;
      border: 0;
      -webkit-appearance: none;
      -webkit-box-shadow: none;
      outline: none;
      padding: 0;
      z-index: 1046;
      box-shadow: none;
      margin-left: @divisor / 2;
    }
  }
}
img.mfp-img {
  padding-bottom: 60px;
}
.mfp-bottom-bar {
  margin-top: -50px;
}
.mfp-title, .mfp-counter {
  font-size: 10pt;
  color: darken(@light-grey, 20%);
  font-family: @font-default;

  .caption {
    font-size: 14pt;
    display: block;
    float: none;
    color: @white;
  }
  .author {
    color: @light-grey;
  }
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
