<p>Этот сайт находится в состоянии альфа-тестирования и может содержать ошибки. Если вы обнаружили ошибку, пожалуйста, укажите их на следующей форме (откроется в новом окне):</p>
<a target="_blank" ng-href="{{'FORM.BUGREPORT' | translate}}" ng-bind="('FORM.BUGREPORT' | translate)"></a>
<p>Если бы вы хотели поделиться впечатлением о веб-сайте, или у вас есть идеи как его можно было бы улучшить, заполните форму обратной связи:</p>
<a target="_blank" ng-href="{{'FORM.FEEDBACK' | translate}}" ng-bind="('FORM.FEEDBACK' | translate)"></a>
<p>Спасибо за внимание!</p>
