<p>Этот сайт находится в состоянии альфа-тестирования. Если вы нашли ошибки, пожалуйста, укажите их на следующей фоме (форма откроется в новом окне):</p>
<a target="_blank" href="http://goo.gl/forms/sNlJ9CVubJ">http://goo.gl/forms/sNlJ9CVubJ</a>
<h2>Что дальше?</h2>
<p>Если у вас еть идеи как можно было бы улучшить этот сайт, порголосуйте или добавьте свою фичу на форме ниже:</p>
<a target="_blank" href="http://goo.gl/forms/7jyS0XpxlH">http://goo.gl/forms/7jyS0XpxlH</a>
<p>Спасибо за внимание!</p>
