<h1 class="title">
  {{admin.selected.length}} selected
  <select ng-model="category">
    <option ng-repeat="category in admin.categories" value="{{category.name}}">{{category.name}}</option>
  </select>

  <div ng-cloak class="tools">
    <button ng-disabled="admin.selected.length !== 1" ng-click="1">Edit</button>
    <button ng-disabled="admin.selected.length !== 1" ng-click="admin.toggleVisibility(admin.selected[0]);">Show/Hide</button>
    <button ng-disabled="admin.selected.length <= 1"  ng-click="2">Group/Ungroup</button>
    <button ui-sref="logout">Logout</button>
  </div>
</h1>

<div id="masonry">
  <div ng-cloak class="masonry-brick photo-{{item.id}}"
       ng-class="{selected: item.selected}"
       ng-click="admin.select(item)"
       ng-repeat="item in admin.photos">

    <img src="{{$root.config.staticEndpoint + item.thumb}}" />
  </div>
</div>
