<div class="admin">
  <header class="main">
    <h1 class="title">
  <span>
    {{admin.selected.length}} selected
  </span>

      <div ng-cloak class="tools">
        <!--<button ng-disabled="admin.selected.length !== 1" ng-click="1">Edit</button>-->
        <button ng-disabled="admin.selected.length !== 1" ng-click="admin.toggleVisibility(admin.selected[0]);">
          Show/Hide
        </button>
        <button ng-disabled="!admin.selected.length" ng-click="admin.drop();">Drop</button>
        <button style="background: red" ui-sref="logout">Logout</button>
      </div>
    </h1>
  </header>

  <div class="content" ui-view="content">

    <nav ng-cloak ng-if="admin.categories" class="aside">
      <ul>
        <li class="item"
            ng-cloak
            ui-on-drop="admin.onDrop($data, c);"
            drop-validate="c.name !== admin.category"
            ng-class="{active: c.name == admin.category}"
            ng-click="admin.setCategory(c);"
            ng-repeat="c in admin.categories">{{c.name}}
        </li>
      </ul>
    </nav>

    <div id="masonry" class="admin">
      <div
        ng-cloak class="masonry-brick photo-{{item.id}}"
        ui-on-drop="admin.groupPhoto($data, item);"
        drop-validate="$data !== item.id"
        ng-class="{
          selected: admin.isSelected(item),
          hidden: item.hidden
        }"
        ng-click="admin.select(item, $event)"
        ng-repeat="item in admin.photos">

        <div ng-cloak class="group" ng-style="admin.groupStyle[item.group]" ng-if="item.group"
             ng-click="admin.unGroup(item);"></div>
        <img src="{{item.thumb}}" ui-draggable="true" drag="item.id" height="160"/>
      </div>
    </div>
  </div>
</div>

